/* Fonts */

@font-face {
  font-family: eurofurence;
  src: url('../fonts/eurofurence/eurof55.ttf');
}

@font-face {
  font-family: latoregular;
  src: url('../fonts/lato/Lato-Regular.ttf');
}

@font-face {
  font-family: latobold;
  src: url('../fonts/lato/Lato-Bold.ttf');
}

/* Base */

* {
  box-sizing: border-box;
}

html {
  font-family: latoregular, sans-serif;
  color: #626262;
}

body {
  margin: 0;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  font-weight: normal;
}

h2 {
  font-size: 30px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: color .3s;
}

/****************************************************************************
 ****************************************************************************
                               LAYOUT & CONTAINERS
 ****************************************************************************
 ****************************************************************************/

/*                       *************************
                                SCREEN 
                         *************************/

.screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: #000;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: all .3s;
}

.screen.active {
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: .35;
}

/*                       *************************
                                HEADER 
                         *************************/

.header-wrapper {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #292929;
  height: 130px;
  box-shadow: inset 0 -6px 0 #1e1e1e;
}

.inner-header-wrapper {
  max-width: 940px;
  width: 100%;
}

/*                       *************************
                                MAIN 
                         *************************/


.main-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.main-inner-wraper {
  max-width: 980px;
  width: 100%;
  border: 1px solid #e1e0e0;
  border-bottom: 0;
  padding-top: 80px;
}

/*                       *************************
                                FOOTER 
                         *************************/

footer {
  width: 100%;
  height: 315px;
  box-shadow: inset 0 1px 0 #e1e0e0;
  background-color: #f8f8f8;
}

/****************************************************************************
 ****************************************************************************
                               HEADER
 ****************************************************************************
 ****************************************************************************/

/*                       *************************
                                LOGO 
                         *************************/

.logo {
  height: 33px;
  color: #ffffff;
  font-family: eurofurence;
  font-size: 40px;
  font-weight: 400;
}

.period-logo {
  color: #58c93a;
}

/*   starting 'B' and ending '.'   */

.letter-spacing-logo {
  letter-spacing: -0.8px;
}

/*                       *************************
                                NAV
                         *************************/

.nav-items-wrapper {
  flex-direction: column;
}

.main-nav.side-nav-active {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.main-nav {
  visibility: hidden;
}

.main-nav a {
  color: black;
  padding: 10px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
}

.mobile-menu-button {
  position: absolute;
  top: 60px;
  right: 60px;
  visibility: visible;
}

.main-nav a:focus {
  color: #58c93a;
  box-shadow: inset 0 -6px 0 #58c93a;
}

.main-nav a:hover {
  color: #58c93a;
  border-right: 1px solid #58c93a;
  border-left: 1px solid #58c93a;
}

.letter-spacing {
  letter-spacing: 0.8px;
}

/****************************************************************************
 ****************************************************************************
                               BLOG ITEM
 ****************************************************************************
 ****************************************************************************/

.blog-item {
  margin-bottom: 80px;
  margin-left: 19px;
}

.blog-image {
  width: 50%;
  height: 322px;
  max-width: 460px;
  object-fit: cover;
}

/*  wrap the title, text and button  */

.text-wrapper {
  margin-left: 31px;
}

.blog-title {
  max-width: 386px;
  color: #4f4e4e;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.84px;
  margin-left: 2px;
  margin-bottom: 58px;
}

.blog-text {
  margin: 0;
  max-width: 445px;
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  text-transform: initial;
  /* margin-bottom: 44px; */
}

.blog-item button {
  width: 186px;
  height: 40px;
  border: 2px solid #c2c2c2;
  background-color: #ffffff;
  border-radius: 25px;
  color: #c2c1c1;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.48px;
  transition: all .3s;
}

.blog-item button:hover {
  width: 210px;
  height: 40px;
  color: #58c93a;
  border: 2px solid #58c93a;
}

.blog-item button:hover::after {
  content: ' →';
}

hr {
  width: 980px;
  height: 1px;
  background-color: #e1e0e0;
}

.next-previous {
  border-top: 1px solid #e1e0e0;
  ;
}

.next-previous>div {
  /* width: 49px; */
  height: 14px;
  color: #818181;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin-top: 30px;
  margin-bottom: 31px;
}

/*  PREVIOUS PAGE   */

.next-previous div:first-child {
  margin-left: 55px;
}

.next-previous div:first-child::before {
  content: '←';
  margin-right: 10px;
}

/*  NEXT PAGE   */

.next-previous div:nth-child(2) {
  margin-right: 55px;
}

.next-previous div:nth-child(2)::after {
  content: '→';
  margin-left: 10px;
}

/****************************************************************************
 ****************************************************************************
                               FOOTER
 ****************************************************************************
 ****************************************************************************/

footer {
  widows: 100%;
  height: 315px;
  box-shadow: inset 0 1px 0 #e1e0e0;
  background-color: #f8f8f8;
}

.logo-footer {
  color: #292929;
  font-family: eurofurence;
  font-size: 40px;
  font-weight: 400;
  margin-top: 80px;
}

.copyright {
  color: #a6a6a6;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 32px;
}

.copyright span:nth-of-type(1) {
  letter-spacing: 0.39px;
}

.copyright span:nth-of-type(2) {
  color: #939292;
  font-family: latobold;
  font-weight: 700;
  letter-spacing: 0.39px;
}

.social-wrapper {
  margin-top: 38px;
}

.social {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-color: #e5e5e5;
  transition: background-color .5s;
}

.social:hover {
  background-color: #516fad;
  cursor: pointer;
}

.social img {
  align-content: center;
}

@media (min-width:687px) {
  .mobile-menu-button {
    visibility: hidden;
  }
  .nav-items-wrapper {
    flex-direction: row;
  }
  .main-nav {
    position: static;
    background-color: transparent;
    height: auto;
    border-left: none;
    top: 0;
    visibility: visible;
  }
  .main-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
  }
  .main-nav a {
    align-content: center;
    width: 132px;
    height: 131px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 0 1px 0 #1e1e1e;
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
  }
}

/****************************************************************************
 ****************************************************************************
                               HELPERS
 ****************************************************************************
 ****************************************************************************/

/*                       *************************
                                FLEX 
                         *************************/

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center
}

.align-start {
  align-items: flex-start;
}

/*                       *************************
                                LIST
                         *************************/

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}